<section class="w-full topography-pattern rounded-t-[40px] z-1 pb-15 xl:pb-25 pt-15 lg:pt-15 xl:pt-28">
  <div id="services" class="text-4xl xl:text-5xl font-bold text-center text-black xl:pt-20">
    Nasza oferta
  </div>
  <div class="max-w-7xl mx-auto flex flex-col xl:flex-row justify-between items-center xl:items-stretch px-6 pt-10 gap-10">
    <div
      class="w-5/5 max-w-[500px] xl:w-80 text-white rounded-xl flex overflow-hidden flex-col items-center hover:brightness-120 transition duration-300"
      style="background-color: var(--background-3)">
      <img src="assets/service-3.png" alt="service" class="w-full h-40 object-cover"/>
      <div class="px-8 py-4">
        <h3 class="text-xl font-semibold text-center">Mycie pokładu i kadłuba</h3>
        <p class="text-lg mt-5 text-center opacity-90">
          Przyjeżdżamy do Twojej jednostki, aby dokładnie umyć i osuszyć
          zewnętrzne powierzchnie statku, dzięki czemu zawsze będzie prezentować się świetnie.
        </p>
      </div>
    </div>

    <div
      class="w-5/5 max-w-[500px] xl:w-80 text-white rounded-xl flex overflow-hidden flex-col items-center hover:brightness-120 transition duration-300"
      style="background-color: var(--background-4)">
      <img src="assets/service-2.png" alt="service" class="w-full h-40 object-cover"/>
      <div class="px-8 py-4">
        <h3 class="text-xl font-semibold text-center">Czyszczenie spodu</h3>
        <p class="text-lg mt-5 text-center opacity-90">
          Usuwamy wszelkie zabrudzenia i porosty z dna łodzi.
          Czysty kadłub to mniejszy opór w wodzie, lepsze osiągi i oszczędność paliwa.
        </p>
      </div>
    </div>

    <div
      class="w-5/5 max-w-[500px] xl:w-80 text-white rounded-xl flex overflow-hidden flex-col items-center hover:brightness-120 transition duration-300"
      style="background-color: var(--background-5)">
      <img src="assets/service-4.png" alt="service" class="w-full h-40 object-cover"/>
      <div class="px-8 py-4">
        <h3 class="text-xl font-semibold text-center">Ceramika i woskowanie</h3>
        <p class="text-lg mt-5 text-center opacity-90">Oferujemy profesjonalne detailing i woskowanie, które pozwalają
          utrzymać Twój statek w doskonałym stanie i podkreślić jego estetykę. Każda jednostka otrzymuje indywidualne
          podejście do pielęgnacji.
        </p>
      </div>
    </div>

    <div
      class="w-5/5 max-w-[500px] xl:w-80 text-white rounded-xl flex overflow-hidden flex-col items-center hover:brightness-120 transition duration-300"
      style="background-color: var(--background-6)">
      <img src="assets/service-1.png" alt="service" class="w-full h-40 object-cover"/>
      <div class="px-8 py-4">
        <h3 class="text-xl font-semibold text-center">Czyszczenie wnętrza jednostki</h3>
        <p class="text-lg mt-5 text-center opacity-90">Oferujemy kompleksowe czyszczenie wnętrza — od kokpitu po kabiny.
          Usuwamy kurz, plamy, sól morską i nieprzyjemne zapachy, przywracając komfort i świeżość na pokładzie.
        </p>
      </div>
    </div>
  </div>
</section>
