<header class="main-font py-1 xl:py-3  text-white" style="background: var(--background-2)">
  <div class="max-w-7xl mx-auto px-2 xl:px-6 xl:py-3 flex justify-between items-center">

    <!-- Logo -->
    <div class="flex items-center gap-3">
      <img src="assets/yacht.png" alt="logo-icon" height="48" width="48"/>
      <a href="#home" class="text-white text-xl xl:text-2xl font-extrabold tracking-widest" style="color: var(--text-1)">
        Yachtowo
      </a>
    </div>

    <!-- Navigation -->
    <nav class="gap-6 items-center text-white text-lg hidden lg:flex">
      <a href="#home" class="flex items-center nav-link">
        <img src="assets/home.png" alt="home-icon" height="25" width="25" class="shadow-md"/>
        <span class="max-w-full ml-4 whitespace-nowrap">
      Home
    </span>
      </a>
      <a href="#services" class="flex items-center nav-link">
        <img src="assets/boat.png" alt="home-icon" height="25" width="25" class="shadow-md"/>
        <span class="max-w-full ml-4 whitespace-nowrap">
      Oferta
    </span>
      </a>
      <a href="#gallery" class="flex items-center nav-link">
        <img src="assets/gallery.png" alt="home-icon" height="25" width="25" class="shadow-md"/>
        <span class="max-w-full ml-4 whitespace-nowrap">
      Projekty
    </span>
      </a>
      <a href="#contact" class="flex items-center nav-link">
        <img src="assets/at.png" alt="home-icon" height="25" width="25" class="shadow-md"/>
        <span class="max-w-full ml-4 whitespace-nowrap">
      Kontakt
    </span>
      </a>
    </nav>

    <!-- User + Contact -->
    <div class="flex items-center gap-4 text-white text-sm xl:text-lg h-[48px]">
      <a href="tel:+48 667 985 292"
         class="block font-semibold text-white hover:text-[var(--background-7)] transition-colors mt-[3px]">
        +48&nbsp;667&nbsp;985&nbsp;292
      </a>

      <div class="xl:w-15 xl:h-15 w-10 h-10 rounded-full bg-yellow-400 overflow-hidden border-2 border-white">
        <img src="/assets/profile.png" alt="User" class="w-full h-full object-cover" style="object-position: center 5%;"/>
      </div>
    </div>
  </div>
</header>
